{{>admin-side-top}}
<!-- Page Content  -->
<section class="ml-5 mt-3">
    <div class="container ml-5 mt-5">
        <div class="row mt-4">
            <a href="/admin/packageOffer-add" class="btn btn-success ml-auto  mb-4 ">Add
                offer</a>
        </div>

        <table class="table mt-5 table-dark" id="my-table">
            <thead>
                <tr>

                    <th scope="col">Package Name</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col">Percentage</th>
                    <th scope="col">Delete</th>

                </tr>
            </thead>
            <tbody>
                {{#each proOffer}}
                <tr>

                    <td>{{this.package}}</td>
                    <td>{{this.startDate}}</td>
                    <td>{{this.endDate}}</td>
                    <td>{{this.percentage}}</td>
                    <td>
                        <a href="/admin/delete-packageOffer?id={{this._id}}" class="btn btn-danger" onclick=""
                            name="{{this.Name}}">Delete</a>
                    </td>

                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>
{{>admin-side-bottom}}