{{>admin-side-top}}
<section class="ml-3 mt-5  pt-5" >
     <h2 style="text-align:center;font-weight:bold" class="mt-4">All Banners</h2>
    <div class="container ml-5 mt-4 ">
        <div class="row mt-4">
            <a href="/admin/add-banners" class="d-grid btn btn-success col-2 ms-auto mb-5">Add Banner</a>

        </div>
        <table class="table mt-5 ml-3 table-dark table-hover" id="my-table">
            <thead >
                <tr>
                    <th scope="col">Banner Name</th>
                    <th scope="col">Main title</th>
                    <th scope="col">sub title</th>
                    <th scope="col">status</th>
                    <th scope="col">Banner Image</th>
                    <th scope="col">Activate/Disable</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {{#each banners}}
                <tr>
                    <td>{{this.bannerTitle}}</td>
                    <td>{{this.mainTitle}}</td>
                     <td>{{this.subTitle}}</td>
                    {{#if this.status}}
                    <td>Active</td>
                    {{else}}
                    <td>Disabled</td>
                    {{/if}}
                    <td><img style="width:50px;height:50px" src="/banner-images/{{this._id}}.jpg" alt="" /></td>
                    {{#if this.status}}
                    <td>
                    <a class="btn btn-danger" name="{{this.bannerTitle}}" onclick="disbleBanner('{{this._id}}')">Disable</a>
                    </td>
                    {{else}}
                    <td>
                    <a class="btn btn-success" name="{{this.bannerTitle}}" onclick="activateBanner('{{this._id}}')">Activate</a>
                    </td>
                    {{/if}}
                    <td>
                        <a onclick="removeBanner('{{this._id}}')" class="btn btn-danger "><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>
{{>admin-side-bottom}}