<!--===============================
=            Hero Area            =
================================-->

<div style="overflow-x:hidden !important">
  <section class="hero-area bg-1 text-center overlay">
    {{#each banner}}
    {{#if this.status}}
    <img data-src="/banner-images/{{this._id}}.jpg" alt="" class="main-bg-img lazyload">
    {{/if}}
    {{/each}}
    <!-- Container Start -->
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!-- Header Contetnt -->
          {{#each banner}}
          {{#if this.status}}
          <div class="content-block">
            <h1 class="hero-header">{{this.mainTitle}}</h1>
            <h2 class="sub-hero-header text-white">{{this.subTitle}}</h2>
            <div class="short-popular-category-list text-center">
              <h2 class="">Popular </h2>
              <ul class="list-inline ">
                <li class="list-inline-item">
                  <a href="#" style="color: white;border:none;font-size:17px;font-weight:bold"></i>
                    {{this.list1}}</a>
                </li>
                <li class="list-inline-item">
                  <a href="#" style="color: white;border:none;font-size:17px;font-weight:bold"></i>
                    {{this.list2}}</a>
                </li>
                <li class="list-inline-item">
                  <a href="#" style="color: white;border:none;font-size:17px;font-weight:bold">{{this.list3}}</a>
                </li>
                <li class="list-inline-item">
                  <a href="#" style="color: white;border:none;font-size:17px;font-weight:bold">
                    {{this.list4}} </a>
                </li>
                <li class="list-inline-item">
                  <a href="#" style="color: white;border:none;font-size:17px;font-weight:bold">
                    {{this.list5}}</a>
                </li>
              </ul>
            </div>
          </div>
          {{/if}}
          {{/each}}
          <!-- Advance Search -->
          <div class="advance-search">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-12 col-md-12 align-content-center">

                  <form action="/search" method="get" id="searchBar">
                    <div class="form-row">
                      <div class="form-group col-md-10">
                        <input type="search" class="form-control my-2 my-lg-1" name="search" id="search"
                          placeholder="Where to .....?" />
                      </div>
                      {{!-- <div class="form-group col-md-3">
                        <select class="w-100 form-control mt-lg-1 mt-md-2">
                          <option>Category</option>
                          <option value="1">Top rated</option>
                          <option value="2">Lowest Price</option>
                          <option value="4">Highest Price</option>
                        </select>
                      </div>
                      <div class="form-group col-md-3">
                        <input type="text" class="form-control my-2 my-lg-1" id="inputLocation4"
                          placeholder="Location" />
                      </div> --}}
                      <div class="form-group col-md-2">
                        <button type="submit" class="btn btn-primary">Search
                          Now</button>
                      </div>
                    </div>
                  </form>

                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- Container End -->
  </section>

  <section class="popular-deals section bg-gray">
    {{#each packages}}
    {{#if this.status}}
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title">
            <h2 style="color:white ;">{{this.Category}}</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- offer 01 -->
        <div class=" col-12 col-lg-12">
          <div class="trending-ads-slide">
            {{#each this.sortedPackages}}

            {{#if expired}}
            {{else}}
            <div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-12">

              <!-- product card -->
              <div class="product-item bg-light">
                <div class="card" style="width:350px;height:28rem;">
                  {{!-- height 36 rem --}}
                  <div class="thumb-content">
                    {{#if actualPrice}}
                    <div class="price" style="top: 39px;left: 13px;background:green">₹{{this.Price}}</div>
                    <del class="price orginal-price">₹{{this.actualPrice}}</del>
                    {{else if offerExpired}}
                    <div class="price" style="top: 7px;left: 5px">₹{{this.Price}}</div>
                    {{else}}
                    <div class="price" style="top: 7px;left: 5px">₹{{this.Price}}</div>

                    {{/if}}

                    <a href="/./view-details/{{this._id}}">
                      <img class="card-img-top img-fluid img-thumbnail lazyload" style="height: 15rem;"
                        data-src="/package-images/{{this._id}}.jpg" alt="Card image cap" />
                    </a>
                  </div>
                  <div class="card-body">
                    <h4 class="card-title"><a href="/./view-details/{{this._id}}">{{this.Name}}</a></h4>
                    <button class="fa fa-heart hearts" id="favBtn"
                      onclick="addToFavs('{{this._id}}','{{this.Price}}')"></button>
                    <ul class="list-inline product-meta">
                      <li class="list-inline-item">
                        <a href="/./view-details/{{this._id}}"><i class="fa fa-folder-open-o"></i>{{this.Category}}</a>
                      </li>
                      <li class="list-inline-item">
                        <a href="/./view-details/{{this._id}}"><i class="fa fa-calendar"></i>{{this.Date}}</a>
                      </li>
                    </ul>
                    <p class="card-text">{{this.Description}}</p>
                    <table class="card-text">{{this.textfield}}</table>
                    <p class="card-text">{{this.textfield}}</p>

                  </div>
                </div>
              </div>
            </div>
            {{/if}}
            {{/each}}
          </div>

        </div>
      </div>

    </div>
    {{/if}}
    {{/each}}
  </section>





  {{#each user}}
  {{this.Name}}
  {{/each}}




  <section class="call-to-action overly bg-3 section-sm">
    <!-- Container Start -->
    <div class="container">
      <div class="row justify-content-md-center text-center">
        <div class="col-md-8">
          <div class="content-holder">
            <h2>Want to ask us something?</h2>
            <ul class="list-inline mt-30">
              <li class="list-inline-item"><a class="btn btn-main" href="#">Connect with us</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Container End -->
  </section>
</div>
<script>
  jQuery('#searchBar').validate({
    rules: {
      search: 'required'
    }, messages: {
      search: ''
    }
  })
</script>